@media screen and (max-width: 768px) {
  .devops {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #EDF5FD;
  }
  .devops .devops_one {
    width: 100%;
    height: 6.5rem;
  }
  .devops .devops_one img {
    width: 100%;
    height: 100%;
  }
  /* 第一张背景图上的按钮 */
  .devops .devops_one button {
    width: 3.81rem;
    height: 0.8rem;
    position: absolute;
    top: 4.44rem;
    left: 1.3rem;
    border-radius: 0.4rem;
    border: none;
    font-size: 0.26rem;
    color: #FFFFFF;
    background: linear-gradient(-45deg,rgba(253,125,130,1),rgba(253,175,143,1));
    outline: none;
    font-weight: 300;
  }
  /* 背景图二 */
  .devops .background_images_two {
    width: 100%;
    background-image: url("//jy-info.qicp.vip/static/devops/devops_background_two.png");
    background-size: cover;
  }

  /* 服务内容 */
  .service_content {
    text-align: center;
    padding-top: 1.11rem;
    padding-bottom: 1.26rem;
  }
  .service_content .title_font {
    width:1.63rem;
    height:0.4rem;
    font-size:0.4rem;
    font-family:Microsoft YaHei,serif;
    font-weight: 400;
    color:rgba(44,46,51,1);
    margin: 0 auto;
  }
  .service_content .title_div {
    width:1.4rem;
    height:0.04rem;
    background-color: #3D9CFD;
    margin: 0.26rem auto 0.2rem auto;
  }
  .service_content .row_one div {
    position:relative;
    bottom:0;
    transition:bottom 0.6s;
    -moz-transition:bottom 0.6s; /* Firefox 4 */
    -webkit-transition:bottom 0.6s; /* Safari and Chrome */
    -o-transition:bottom 0.6s; /* Opera */
  }
  .service_content .row_one div:hover {
    position:relative;
    bottom: 0.3rem;
  }
  .service_content .row_two div {
    position:relative;
    bottom:0;
    transition:bottom 0.6s;
    -moz-transition:bottom 0.6s; /* Firefox 4 */
    -webkit-transition:bottom 0.6s; /* Safari and Chrome */
    -o-transition:bottom 0.6s; /* Opera */
  }
  .service_content .row_two div:hover {
    position: relative;
    bottom: 0.3rem;
  }
  .service_content .content {
    width: 3.2rem;
    height: 3.2rem;
    display: inline-block;
    margin: 0.3rem;
    background-color: #FFFFFF;
    box-shadow:0 0.1rem 0.24rem 0 rgba(29,36,85,0.1);
  }
  .service_content .content img {
    width: 1.2rem;
    height: 1.2rem;
    display: table;
    margin: 0.66rem auto 0.39rem;
  }
  .service_content .content span {
    font-size:0.26rem;
    font-family:Microsoft YaHei,serif;
    color: rgba(44,46,51,1);
    font-weight: 500;
  }

  /* 10+经验行业案例 */
  .industry_case {
    line-height: 1;
    text-align: center;
    padding-top: 1rem;
    background: url("//jy-info.qicp.vip/static/devops/devops_background_two.png");
    background-size: cover;
    height: 10.8rem;
  }
  .industry_case .title_font {
    width:1.63rem;
    height:0.4rem;
    font-size:0.4rem;
    font-family:Microsoft YaHei,serif;
    font-weight: 500;
    color: #ffffff;
    margin: 0 auto;
  }
  .industry_case .title_div {
    width:1.4rem;
    height:0.04rem;
    background: #ffffff;
    margin: 0.25rem auto 0.5rem auto;
  }
  .industry_case .case_content .case_content_left {
    display: none;
  }
  .industry_case .case_content .case_content_center {
    width: 100%;
    height: 6.8rem;
    background: #EFF2F8;
  }
  .industry_case .case_content .case_content_right {
    display: none;
  }
  .industry_case .case_content .case_content_center .center_left {
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
    float: left;
    position: relative;
    top: 3rem;
    left: 0.4rem;
    z-index: 5;
  }
  .industry_case .case_content .case_content_center .center_right {
    width: 0.8rem;
    height: 0.8rem;
    float: right;
    position: relative;
    top: 3rem;
    right: 0.4rem;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* degFirefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
    cursor: pointer;
  }
  .industry_case .more_button {
    width: 100%;
    margin: 0.56rem auto 0;
  }
  .industry_case .more_button .button {
    width: 3rem;
    height: 0.70rem;
    background: linear-gradient(-45deg,rgba(253,125,130,1),rgba(253,175,143,1));
    border-radius: 0.35rem;
    font-size: 0.26rem;
    font-family: Microsoft YaHei,serif;
    font-weight: 400;
    color: rgba(255,255,255,1);
    outline: none;
    border: none;
  }


  /* 全方位运维方案 */
  .all_round {
    text-align: center;
    width: 7.68rem;
    height: 16.09rem;
    padding-top: 1.21rem;
    padding-bottom: 7.66rem;
    margin: 0 auto;
  }
  .all_round .title_font {
    font-size:0.4rem;
    font-family:Microsoft YaHei,serif;
    font-weight: 500;
    color:rgba(44,46,51,1);
  }
  .all_round .title_div {
    width:1.4rem;
    height:0.04rem;
    background:rgba(61,156,253,1);
    margin: 0.2rem auto 0.3rem;
  }
  .all_round .all_round_content {
    width: 8.05rem;
    margin: 0 auto 0.4rem;
  }
  .all_round .hexagon {
    margin: 0.3rem;
    overflow: hidden;
  }
  .all_round .all_round_content >>> .hexagon {
    font-size: 0.24rem;
    overflow: hidden;
  }
  .all_round .all_round_content >>> .hexagon_one .hexagon_content .hexagon_title {
    margin: 0 0 0.14rem;
  }
  .all_round .all_round_content >>> .hexagon_two .hexagon_content .hexagon_title {
    margin: 0 0 0.17rem;
  }
  .all_round .all_round_content >>> .hexagon_two .hexagon_content .hexagon_span {
    font-size: 0.18rem;
    letter-spacing: 0;
    line-height: 0.2rem;
  }


  /* 这些企业选择了甲悦 */
  .choose_jy {
    width: 100%;
    padding-top: 1.19rem;
    padding-bottom: 1.7rem;
  }
  .choose_jy .title_font {
    width:3.7rem;
    height: auto;
    font-size:0.4rem;
    font-family:Microsoft YaHei,serif;
    font-weight:400;
    color:rgba(44,46,51,1);
    margin: 0 auto;
  }
  .choose_jy .title_div {
    width:1.4rem;
    height:0.04rem;
    background:rgba(61,156,253,1);
    margin: 0.3rem auto 0.4rem;
  }
  .choose_jy .enterprise_icon {
    width: 7.7rem;
    margin: 0 auto;
  }
  .choose_jy .icon_border {
    width: 3.2rem;
    height: 1.2rem;
    background: rgba(255,255,255,1);
    box-shadow: 0 0.1rem 0.24rem 0 rgba(29,36,85,0.1);
    display: inline-block;
    margin: 0.3rem;
  }
  .choose_jy .icon_border img {
    width: 100%;
    height: 100%;
  }

  /* 底部 */
  .devops .devops_bottom {
    width: 100%;
    height: 4rem;
    background-color: #111F35;
  }
  /* 底部ICP */
  .devops .devops_icp {
    width: 100%;
    height: 1.2rem;
    background-color: #020202;
  }
}
