@media screen and (max-width: 768px) {
  /* 第一张背景图上的按钮 */
  .devops .devops_one button {
    position: absolute;
    left: 1.3rem;
  }

  /* 服务内容 */
  .service_content .title_div {
    margin: 0.26rem auto 0.2rem auto;
  }
  .service_content .content {
    margin: 0.3rem;
  }

  /* 10+经验行业案例 */
  .industry_case .case_content .case_content_left {
    display: none;
  }
  .industry_case .case_content .case_content_center {
    width: 100%;
    height: 6.8rem;
    background: #EFF2F8;
  }
  .industry_case .case_content .case_content_right {
    display: none;
  }
  .industry_case .case_content .case_content_center .center_left {
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
    float: left;
    position: relative;
    top: 3rem;
    left: 0.4rem;
    z-index: 5;
  }
  .industry_case .case_content .case_content_center .center_right {
    width: 0.8rem;
    height: 0.8rem;
    float: right;
    position: relative;
    top: 3rem;
    right: 0.4rem;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* degFirefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
    cursor: pointer;
  }

  /* 全方位运维方案 */
  .all_round .all_round_content {
    width: 8rem;
    margin: 0 auto 0.4rem;
  }
  .all_round .hexagon {
    margin: 0.3rem;
  }
  .all_round .all_round_content >>> .hexagon {
    font-size: 0.24rem;
    overflow: hidden;
  }
  .all_round .all_round_content >>> .hexagon_two .hexagon_content .hexagon_span {
    font-size: 0.18rem;
    letter-spacing: 0;
    line-height: 0.2rem;
  }
  .all_round .center_left,
  .all_round .center_right{
    background-color: #761c19;
  }


  /* 这些企业选择了甲悦 */
  .choose_jy .enterprise_icon {
    width: 7.7rem;
  }
  .choose_jy .icon_border {
    margin: 0.3rem;
  }
}
