p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
span {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}

.content_title {
  font-size: 0.4rem;
  font-weight: 400;
  font-family: Microsoft YaHei, sans-serif;
  color: #2D2F33;
  margin-top: 1.2rem;
  text-align: center;
  line-height: 1.1;
}
.title_xhx {
  width: 1.4rem;
  height: 0.04rem;
  background: #3E9CFD;
  margin: 0.25rem auto 0 ;
}

#dmsca {
  padding: 0;
  width: 19.2rem;
  background-color: #EDF5FD;
  margin-top: -0.2rem;
}
/* 横幅图 */
#dmsca .dmsca_banner {
  width: 100%;
  height: 6.5rem;
  background-color: #0F65F3;
}

/* 内容区域 */
.content_area {
  width: 100%;
}
.content_area > .content {
  width: 14rem;
  margin: 0 auto;
}

/* 企业级源代码安全扫描分析服务平台-DMSCA */
.content_01 {
  width: 100%;
}
.content_01 > .div_content {
  width: 14rem;
  height: 6.3rem;
  background-color: #FFFFFF;
  box-shadow: 0.01rem 0.1rem 0.24rem 0 rgba(29, 36, 85, 0.1);
  margin-top: 0.6rem;
}
.content_01 > .div_content > p {
  width: 13.32rem;
  font-size: 0.26rem;
  font-weight: 300;
  font-family: Microsoft YaHei, sans-serif;
  color: #5A5E66;
  line-height: 1.18;
  letter-spacing: 0.0088rem;
  margin: 0 auto;
  padding-top: 0.4rem;
}
.content_01 > .div_content > p:first-child {
  padding-top: 0.5rem;
}
.content_01 > .div_content > p:last-child {
  padding-bottom: 0.55rem;
}

/* 主要功能及特性 */
.content_02 {
  width: 100%;
}
.content_02 > .div_content {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0.01rem 0.1rem 0.24rem 0 rgba(29, 36, 85, 0.1);
  margin-top: 0.6rem;
}
.content_02 > .div_title {
  margin-bottom: 0.6rem;
}
.content_02 > .features {
  width: 100%;
  background-color: #Ffffff;
  box-shadow: 0 0.1rem 0.24rem 0 rgba(29, 36, 85, 0.1);
  padding: 0.2rem 0;
}
.content_02 > .features .feature_div {
  padding: 0.2rem 0.4rem;
}
.content_02 > .features .feature_icon {
  width: 0.6rem;
  height: 0.6rem;
}
.content_02 > .features .feature_name {
  height: 0.33rem;
  font-size: 0.32rem;
  font-weight: 600;
  font-family: Microsoft YaHei, sans-serif;
  color: #2C2E33;
  display: inline;
  margin-left: 0.4rem;
  position: relative;
  top: 0.08rem;
}
.content_02 > .features .feature_detail {
  font-size: 0.26rem;
  font-weight: 300;
  font-family: Microsoft YaHei, sans-serif;
  color: #5A5E66;
  line-height: 1.18;
  margin-left: 1rem;
  display: block;
}

/* 产品展示界面 */
.products_show {
  line-height: 1;
  text-align: center;
  padding-top: 1rem;
  background: linear-gradient(-57deg, #3B2866, #0E519E);
  background-size: cover;
  width: 19.2rem;
  height: 10.04rem;
  margin-top: 1.2rem;
}
.products_show .content_title {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.products_show .title_xhx {
  background: #ffffff;
  margin-bottom: 0.5rem;
}

/* 系统架构 */
.system_structure .title_xhx {
  margin-bottom: 0.4rem;
}
.system_structure .system_structure_content {
  width: 14rem;
  height: 6.7rem;
  background: #FFFFFF;
  box-shadow: 0 0.1rem 0.24rem 0 rgba(29, 36, 85, 0.1);
  margin: 0 auto;
}
.system_structure .system_structure_content img {
  width: 13.09rem;
  height: 5.71rem;
  margin-top: 0.51rem;
  margin-left: 0.59rem;
}

/* 集成 SDLC */
.integrated_SDLC .title_xhx{
  margin-bottom: 0.4rem;
}
.integrated_SDLC .integrated_SDLC_content {
  width: 14rem;
  height: 5.24rem;
  background: #FFFFFF;
  box-shadow: 0 0.1rem 0.24rem 0 rgba(29, 36, 85, 0.1);
  margin: 0 auto;
}
.integrated_SDLC .integrated_SDLC_content img {
  width: 12.65rem;
  height: 4.05rem;
  margin-top: 0.6rem;
  margin-left: 1.06rem;
}

/* 底部 */
.jy_footer {
  margin-top: 2rem;
}
