.hexagon {
  width: 320px;
  height: 292px;
  float: left;
  filter: drop-shadow(0px 10px 24px rgba(29,36,85,0.1));
}
.hexagon .hexagon_left {
  float: left;
  width: 80px;
  height: 292px;
  border-top: 146px solid transparent;
  border-right: 80px solid rgba(255,255,255,1);
  border-bottom: 146px solid transparent;
}
.hexagon .hexagon_center {
  float: left;
  width: 160px;
  height: 292px;
  background-color: rgba(255,255,255,1);
}
.hexagon .hexagon_right {
  float: left;
  width: 80px;
  height: 292px;
  border-top: 146px solid transparent;
  border-left: 80px solid rgba(255,255,255,1);
  border-bottom: 146px solid transparent;
}
.hexagon .hexagon_content {
  position: relative;
  width: 322px;
  height: 294px;
  text-align: center;
  top: -272px;
  font-family:Microsoft YaHei,serif;
}
.hexagon .hexagon_content img {
  position: relative;
  width: 80px;
  height: 80px;
}
.hexagon .hexagon_content .hexagon_title {
  font-size: 22px;
  font-weight: 400;
  color: #2C2E33;
  margin: 0 0 19px;
}
.hexagon .hexagon_content span {
  position: relative;
  display: block;
  color: #5A5E66;
  font-size: 20px;
  font-weight: 300;
}
